@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Share+Tech+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: RebeccaPurple;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.btn {
    background-color: rgb(250,196,102);
    font-size: 2rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 10px;
    border: none;
    color: rgb(224,143,2);
    cursor: pointer;
    font-family: "Share Tech Mono", monospace;
}

.btn:hover {
    opacity: 0.9;
}